{% extends 'base.html' %}
{% block body %}
  <div class="container">
    {% if contact.id %}
      <h1 class="text-center">Edit Contact</h1>
    {% else %}
      <h1 class="text-center">Add Contact</h1>
    {% endif %}

    <form action="{{ action }}" method="POST">
    {% csrf_token %}
      <ul>
        {{ form.as_p }}
      </ul>
      <input id="save_contact" type="submit"
             value="Save" class="btn btn-primary"/>
    </form>

    <a href="{% url "contacts-list" %}">back to contacts list</a>
    {% if contact.id %}
      <a class="delete"
         href="{% url "contacts-delete" pk=contact.id %}">Delete</a>
    {% endif %}
  </div> <!--     /container      -->
{% endblock %}
