h3 span.glyphicon.glyphicon-user {
    font-size: 3em;
}

table {
    margin-top:10px;
}

td > a.btn {
    padding: 0px 5px;
    font-size: .6em;
    line-height: 1.5;
    border-radius: 8px;
}

a.delete {
    color: #ff0000;
    margin-left: 10px;
}

#save_contact {
    margin: 10px;
}

.jumbotron {
    background-image: url(img/jumbo-bg2.jpg);
    border-radius: 100px !important;
    margin-top: 10px;
}

.jumbotron > h1, h2, h3 {
    color: #000;
    background-color: rgba(255, 255, 255, 0.59);
}
